<a href="https://colab.research.google.com/github/Deepak8260/Pw-Python-with-DSA-Class-Programs-Practice-KD/blob/main/Pw_Python_Prgrms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#reference variable program. As the value of x and y are same , so they will point to same memory location
x=5
y=5
print(x)
print(y)
print(id(x))
print(id(y))

5
5
137347335340400
137347335340400

In [ ]:
#Data Types
x=5
y=4.5
z=5e10
r=True
s= 4 + 6j
print(type(x))
print(type(y))
print(type(z))
print(type(r))
print(type(s))
#print(type(x))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [ ]:
print(abs(-98))  #print absolute value of a number

98

In [ ]:
print(pow(5,3))

125

In [ ]:
print(round(56.9999999999999999))

57

In [ ]:
l=[2,6,34,23,8,3,45,7,9,43,7,9,5,3,6,22,65,87,53,7642,56,77,46,4534,55745,4,64,5,34,234,234,345,455,6,576,85,3,42,32,32]
print(f"The minimum value from the list is {min(l)}")
print(f"The maximum value from the list is {max(l)}")
print(f"The sum of all the elemenmts in the list is {sum(l)} ")

The minimum value from the list is 2
The maximum value from the list is 55745
The sum of all the elemenmts in the list is 70688

For loop Programs done pw  vishwa sir in lectures

In [ ]:
#p1 sum of all even num from 1 to 20
sum=0
for i in range(2,21,2):
  sum+=i
print(sum)

110

In [ ]:
#alternative prgm for p1(recommended)
sum=0
for i in range(1,21):
  if i%2==0:
    sum+=i
print(sum)

110

In [ ]:
#p2 count the num of vowels in a given string
str= "absolutely"
count=0
for i in str:
  match i:
    case 'a':
      count+=1
    case 'e':
      count+=1
    case 'i':
      count+=1
    case 'o':
      count+=1
    case 'u':
      count+=1
    case 'A':
      count+=1
    case 'E':
      count+=1
    case 'I':
      count+=1
    case 'O':
      count+=1
    case 'U':
      count+=1
print(count)

4

In [ ]:
#alternative of p2(recommended)
count=0
str= "I am Kumar Deepak"
for i in str:
  if i.lower() in ['a','e','i','o','u']:
    count +=1
print(count)

7

In [ ]:
#p3 Fibonacci Series
n=int(input("Enter a number"))
if n<=0:
  print("Check the input")
else:
  first=0
  second=1
  print(first)
  print(second)




for i in range(1,n+1):
  third=first+second
  first=second
  second=third

  print(second)

Enter a number5
0
1
1
2
3
5
8

In [ ]:
print ("Kumar",2,8,989,76,4565)

Kumar 2 8 989 76 4565

In [2]:
num = int(input("Enter a number: "))
print(num>>1)
print(num<<1)

Enter a number: 16
8
32

In [3]:
num = int(input("Enter a number: "))
print(num>>2)
print(num<<2)

Enter a number: 16
4
64

In [4]:
x=5
y=5
print(x is y)

True

In [5]:
arr=[1,2,3]
ar=[1,2,3]
print(arr is ar)

False

In [9]:

x=5
print(id(x))
x=6
print(id(x))

136225671086448
136225671086480

In [15]:
s1=[8,9,6]
print(id(s1))
s1=[2,7,5]
print(id(s1))

136224386882432
136224388738368

In [20]:
st='kum'
print(st)

kum

In [21]:
st[0]

'k'

In [22]:
st[0]='h'
print(st)

TypeError: 'str' object does not support item assignment

In [26]:
a=666
print(id(a))
y=666
print(id(y))
print()
print(a is y)

136224388719984
136224388710960

False

In [27]:
a=6
print(id(a))
y=6
print(id(y))
print()
print(a is y)

136225671086480
136225671086480

True

In [30]:
a=-6
print(id(a))
y=-6
print(id(y))
print()
print(a is y)

136224388712560
136224388715984

False

In [33]:
a=[] # here a is an empty list which denotes as falsy value
if a:
  print("Valid")
else:
  print('invalid')

invalid

In [34]:
a=5 # here a is an integer which denotes as truthy value
if a:
  print("Valid")
else:
  print('invalid')

Valid